// .mic{
//     display: flex;
//     width: 100vw;
//     height: 100vh;
//     justify-content: center;
//     align-items: center;
//     // position: absolute;

//     .micIcon{
//         color: rgb(119, 120, 120);
//     }
// }



$primary: #189BFF;
$secondary: #d8d8d8;
$size: 100px;


.btn-me {
  border: none;
  padding: 0;
  border-radius: 100%;
  width: $size;
  height: $size;
  font-size: 3em;
  color: #fff;
  padding: 0;
  margin: 0;
  background: $primary;
	position: absolute;
    top: 18%;
    left: 47%;
	z-index: 999;
  display: inline-block;
    line-height: $size;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.pulse-ring {
  content: '';
  width: $size;
  height: $size;
  background: $primary;
  border: 5px solid $primary;
  border-radius: 50%;
  position: absolute;
  top: 18%;
  left: 47%;
  animation: pulsate infinite 1.5s;
  opacity: 1;
  z-index: 4;

}


.pulse-ring.delay{
	// animation-delay: 1s;
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
    opacity: 1;
    display: flex;

  }
  100% {
    transform: scale(1.5, 1.5);
    opacity: 0;
    display: flex;
    justify-content: center;
  }
}

.cont{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.m-left{
	margin-left: $size * 3;
}

.type2{
	background: $primary;
}

.type2 .pulse-ring{
	background: transparent;
}
.micIcon{
    position: absolute;
    color: white;
    font-size: 40px;
    opacity: 1;
    z-index: 3;

}

// .main{
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   margin-top: 40px;
// }

.start{
  position: absolute;
  left: 37%;
  top: 23%;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
.stop{
  position: absolute;
  cursor: pointer;
  left: 37%;
  top: 23%;
}

.tHeadData{
  // border: 2px solid #12c9b7;
  color: white;
  width: 160px;
  padding: 10px;
  
}
.tBodyData{
  border: 2px solid #12c9b7;
  color: white;
  width: 160px;
  padding: 10px;
}

table{
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 15px;
  margin: auto;
  table-layout: fixed;
}
.outputContent{
  width: 220px;
  height: 100px;
  color: #ffff;
  border: 2px solid #12c9b7;
  position: absolute;
  top: 40%;
  left: 43%;

  span{
    position: relative;
    top: 40%;
    left: 20%;
  }
}
